<%= form_with model: quiz, class: 'mb-4' do |f| %>
  <%= f.hidden_field :author_id, value: current_user.id %>
  <div class="form-group">
    <%= f.label :name, 'Title', class: 'label-field' %>
    <%= f.text_field :name, class: 'input-field' %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'label-field' %>
    <%= f.text_area :description, class: 'text-area' %>
  </div>

  <%= f.submit quiz_submit_btn_text(quiz), class: 'btn btn--save' %>
<% end %>

<% if quiz.persisted? %>
  <div class='border border-zinc-300 p-2'>
    <%= render 'questions/form', quiz: @quiz, question: @quiz.questions.build %>
  </div>
<% end %>
