<%= form_with model: quiz, class: 'mb-4' do |f| %>
  <%= f.hidden_field :author_id, value: current_user.id %>
  <div class="form-group">
    <%= f.label :name, 'Title', class: 'label-field' %>
    <%= f.text_field :name, class: 'input-field' %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'label-field' %>
    <%= f.text_area :description, class: 'text-area' %>
  </div>

  <%= f.submit quiz_submit_btn_text(quiz), class: 'btn btn--save' %>
<% end %>

<% if quiz.persisted? %>
  <% if quiz.questions.any? %>
  <%= turbo_frame_tag :question_form do %>
    <div class="questions">
      <h2>Quiz Questions</h2>
      <% quiz.questions.each do |question| %>
        <%= render 'questions/question', question: %>
      <% end %>
    </div>
  <% end %>

  <% else %>
    <p>Quiz has no questions</p>
  <% end %>

<% end %>
