<%= form_with model: user, data: { turbo: false } do |form| %>
  <div class="flex flex-col items-stretch mb-2 lg:w-1/2">
    <%= form.label :username, class: 'text-gray-700 text-sm font-bold mb-2' %>
    <%= form.text_field :username, placeholder: 'John Doe', class: 'w-full py-2 px-3 text-gray-700 border shadow appearance-none leading-tight focus:outline-none focus:shadow-outline' %>
  </div>
  <div class="flex flex-col items-stretch mb-2 lg:w-1/2">
    <%= form.fields_for :employment_histories, @employment_history do |ff_eh| %>
      <%= ff_eh.hidden_field :current, value: true %>
      <%= ff_eh.label :employer_id, 'Current Employer', class: 'text-gray-700 text-sm font-bold mb-2' %>
      <%= ff_eh.select :employer_id, @companies.pluck(:name, :id), { include_blank: 'Nothing Selected', selected: @current_employer.id, }, class: 'w-full py-2 px-3 text-gray-700 border shadow appearance-none focus:outline-none focus:shadow-outline' %>
    <% end %>
  </div>
  <div class="flex items-center mb-4 lg:w-1/2">
    <%= form.submit 'Update', class: 'btn btn--save' %>
  </div>
<% end %>
