<section class='bg-white p-4 rounded-lg border border-zinc-300'>
  <h2 class="font-bold text-2xl mb-2">
    Manage your Reviews
  </h2>

  <table class="w-full text-sm text-left text-gray-500 border-separate border-spacing-2">
    <thead>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Rating</th>
        <th>Created On</th>
        <th class='text-right'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% user.reviews.each do |review| %>
        <tr>
          <td><%= review.title %></td>
          <td><%= review.reviewable_type.capitalize %></td>
          <td class='flex'><%= rating_stars(rating: review.rating) %></td>
          <td><%= format_date(review.created_at) %></td>
          <td class='float-right'>
            <%= link_to 'View', polymorphic_path(review.reviewable), class: 'btn btn--primary btn--sml' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>
