<tr class="border-b <%= company_counter.odd? ? 'bg-sky-100' : 'bg-white' %>">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
    <%= link_to h(company.name), company_path(company) %>
  </th>
  <td class="px-6 py-4">
    <%= link_to company.city, company_path(company) %>
  </td>
  <td class="px-6 py-4">
    <%= link_to company.state, company_path(company) %>
  </td>
  <td class="px-6 py-4">
    <%= link_to rating(company), company_path(company), class: 'flex' %>
  </td>
</tr>
