<div class="relative overflow-x-auto mb-20 bg-white rounded-lg p-6">
  <section class='rating flex border-b pb-8 mb-8'>
    <div class='w-1/2'>
      <header>
        <h2 class="text-2xl font-bold mb-2"><%= @company.name %></h2>
      </header>
      <div>
        <div class='rating__stars flex mb-1'>
          <%= rating_stars(rating: @rating) %>
        </div>
        <p class='rating__score font-semibold'><%= @rating %> out of 5 Stars</p>
        <p class='rating__details'>
          <%= "#{@review_count} #{'Review'.pluralize(@review_count)}" %>
        </p>
      </div>
    </div>
    <div class='flex flex-col items-end w-1/2'>
      <div class='flex flex-col mb-12'>
        <h3 class='uppercase'>Company Services</h3>
        <ul class='flex justify-end space-x-2'>
          <li><%= render_icon(:library, classes: 'w-6 stroke-slate-400') %></li>
          <li><%= render_icon(:grad_cap, classes: 'w-6 stroke-slate-400') %></li>
          <li><%= render_icon(:truck, classes: 'w-6 stroke-slate-400') %></li>
          <li><%= render_icon(:house, classes: 'w-6 stroke-slate-400') %></li>
        </ul>
      </div>
      <% if user_signed_in? && !@company.reviewed_by(current_user) %>
        <%= link_to 'leave a Review', new_company_review_path(@company), id: 'ReviewBtn',
                                                                         class: 'btn btn--lg btn--primary uppercase self-end', data: { turbo_frame: 'new-review' } %>
      <% end %>
    </div>
  </section>

  <section class='reviews'>
    <div class='flex flex-col md:flex-row items-start md:items-center border-b pb-8 mb-8'>
      <h2 class='text-2xl'>
        Employee/Trainee Reviews
      </h2>
      <div class='reviews__filter flex items-center mt-2 md:ml-auto w-72 space-x-2'>
        <span class='text-lg'>Sort By</span>
        <%= select_tag :filter, options_for_select([]), include_blank: 'Most Recent', class: 'grow' %>
      </div>
    </div>

    <div data-controller='review' data-review-active-star-class='star-icon--active'>
      <%= turbo_frame_tag 'new-review' %>
    </div>

    <%= turbo_frame_tag :company_reviews, src: company_reviews_path(@company) do %>
      <div role="status" class='flex flex-col items-center'>
          <%= render_icon(:spinning_loader) %>
          <span class='text-gray-500'>Loading reviews...</span>
      </div>
    <% end %>
  </section>
</div>
