<%= turbo_frame_tag review do %>
  <article class='review w-full flex flex-col md:flex-row space-x-4 align-start pb-8 mb-8 border-b border-zinc-300'>
    <div class='review__score'>
      <%= review.rating.to_f %>
    </div>
    <div>
      <header class='review__title'>
        <h2 class='font-semibold'><%= review.reviewer.username %></h2>
      </header>
      <p class='review__date text-sm'><%= format_date(review.created_at) %></p>
      <div class='rating__stars flex mb-2'>
        <%= rating_stars(rating: review.rating) %>
      </div>
      <h3 class='review__subtitle text-md font-semibold mb-1'>
        <%= review.title %>
      </h3>
      <p class='review__text max-w-prose mb-4'>
        <%= review.content %>
      </p>
    </div>
    <div class='flex items-end'>
      <% if review.reviewer == current_user %>
        <%= link_to 'Edit', edit_company_review_path(review.reviewable, review),
                    class: 'h-auto btn btn--sml btn--primary btn--sq' %>
        <%= button_to 'Delete', company_review_path(review.reviewable, review),
                      method: :delete,
                      class: 'btn btn--sml btn--alert btn--sq' %>
      <% end %>
    </div>
  </article>
<% end %>
