<div class='w-full max-w-4xl mt-6 mx-auto text-center'>
  <div class='flex justify-between mb-12'>
    <%= link_to user_path(current_user, page_content: :quizzes), class: 'btn btn--medium btn--primary' do %>
      <%= render_icon('left_arrow', classes: 'w-4 mr-2') %>
      Back to Quizzes
    <% end %>
    <%= quiz_start_button(quiz: @user_quiz.quiz, text: 'Retake Quiz') %>
  </div>
  <h1 class='text-3xl mb-4'><%= @user_quiz.quiz.name %><br>Summary</h1>
  <div class='mb-4'>
    <%= pie_chart [['Correct', correct_answer_count(@user_quiz.answer_sheet)], ['Missed', incorrect_answer_count(@user_quiz.answer_sheet)]], colors: ['rgb(16 185 129)', 'rgb(239 68 68)'] %>
  </div>
  <p class='text-2xl mb-4'>
    Score: <%= @user_quiz.score %>%
    <br>
    <%= result_msg(@user_quiz) %>
  </p>

  <div class='flex flex-col md:flex-row gap-2 text-left'>
    <section class='w-full md:w-1/2 bg-white border border-gray-400 p-4'>
      <h2 class='text-lg border-b mb-2'>
        Correct Questions
        <span class='float-right'>
          <%= correct_answer_count(@user_quiz.answer_sheet) %>/<%= total_question_count(@user_quiz.answer_sheet) %>
        </span>
      </h2>
      <ul class='px-2 max-h-52 overflow-y-scroll'>
        <%= render  partial: 'correct_item',
                    collection: @user_quiz.answer_sheet.correct_questions,
                    as: :answer_sheet_question %>
      </ul>
    </section>

    <section class='w-full md:w-1/2 bg-white border border-gray-400 p-4'>
      <h2 class='text-lg border-b mb-2'>
        Missed Questions
        <span class='float-right'>
          <%= incorrect_answer_count(@user_quiz.answer_sheet) %>/<%= total_question_count(@user_quiz.answer_sheet) %>
        </span>
      </h2>
      <ul class='px-2 max-h-52 overflow-y-scroll'>
        <%= render  partial: 'incorrect_item',
                    collection: @user_quiz.answer_sheet.incorrect_questions,
                    as: :answer_sheet_question %>
      </ul>
    </section>

  </div>
</div>
