<!DOCTYPE html>
<html class='h-full'>
  <head>
    <title>Trucking Nexus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class='h-full bg-gray-200'>
    <div class='flex flex-col h-full'>
      <%= render 'shared/navbar' %>
      <main class='flex flex-col mt-2 lg:mt-8 px-5 grow'>
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </main>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
